<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="qb_legs">

	<!-- we need the definition of the qb_move unit -->
	<xacro:include filename="$(find qb_legs)/model/qb_legs.urdf.xacro" />

	<link name="qb_legs_base"/>

	<xacro:qb_legs parent="qb_legs_base" name="qb_legs">
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
	</xacro:qb_legs>

</robot>