<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- we need the definition of the qb_move unit -->
	<xacro:include filename="$(find qb_legs)/model/qb_utility_models.urdf.xacro" />

	<xacro:property name="pi" value="3.1415926535897931" />
	<xacro:property name="flat_shaft" value="44" /> <!-- (110-66) -->
	<xacro:property name="scale_f" value="1000" />
	<xacro:property name="legs_width" value="200" />
	<xacro:property name="extra_after_c2_flange" value="10" />
	<xacro:property name="foot_height" value="74" />
	<xacro:property name="foot_com_height" value="24" />
	<xacro:property name="foot_thickness" value="10" />
	<xacro:property name="foot_length" value="140" />
	<xacro:property name="pelvis_thickness" value="20" />
	<xacro:property name="torso_mass" value="2.7" />
	<xacro:property name="foot_mass" value="0.75" />
	<xacro:property name="pelvis_mass" value="0.3" />

	<!-- isLeft parameter should be 1 for the left leg, -1 for the right leg -->
	<xacro:macro name="qb_single_leg" params="parent name side isLeft high_joint mid_joint low_joint position orientation">
		<xacro:qb_move parent="${parent}" name="${name}_${high_joint}" position="${position}" orientation="${orientation}"/>
		<xacro:rotating_c2_shaft parent="${name}_${high_joint}" name="${name}_${side}_high_shaft" position="0 0 0" orientation="${pi/2*isLeft} 0 0"/>
		<xacro:qb_move parent="${name}_${side}_high_shaft" name="${name}_${mid_joint}" position="0 0 ${-extra_after_c2_flange/scale_f}" orientation="${-pi/2*isLeft} 0 0"/>
		<xacro:rotating_c_shaft parent="${name}_${mid_joint}" name="${name}_${side}_mid_shaft" position="0 0 0" orientation="${pi/2*isLeft} 0 0"/>
		<xacro:qb_empty parent="${name}_${side}_mid_shaft" name="${name}_${side}_empty" position="0 0 0" orientation="${-pi/2*isLeft} 0 0"/>
		<xacro:fixed_c_shaft parent="${name}_${side}_empty" name="${name}_${side}_low_shaft" position="0 0 0" orientation="${pi/2*isLeft} 0 0"/>
		<xacro:qb_move_reverse parent="${name}_${side}_low_shaft" name="${name}_${low_joint}" position="0 0 ${-extra_after_c2_flange/scale_f}" orientation="${-pi/2*isLeft} 0 0"/>

		<joint name="${name}_${side}_foot_joint" type="fixed">
			<origin xyz="0 ${foot_height/scale_f*isLeft} 0" rpy="${pi/2*isLeft} 0 0"/>
			<parent link="${name}_${low_joint}"/>
			<child link="${name}_${side}_foot"/>
		</joint>
		<link name="${name}_${side}_foot">
			<inertial>
				<origin xyz="0 0 ${foot_com_height/scale_f}" rpy="0 0 0" />
				<mass value="${foot_mass}"/>
				<inertia ixx="${foot_mass * (cube_size * cube_size + foot_thickness * foot_thickness) / 12.0 * mm2_to_m2}" ixy="0.0" ixz="0.0" iyy="${foot_mass * (foot_length * foot_length + foot_thickness * foot_thickness) / 12.0 * mm2_to_m2}" iyz="0.0" izz="${foot_mass * (foot_length * foot_length + cube_size * cube_size) / 12.0 * mm2_to_m2}"/>
			</inertial>
			<visual>
				<origin xyz="0 0 ${foot_thickness/scale_f/2.0}" rpy="0 0 0"/>
				<geometry>
					<box size="${foot_length/scale_f} ${cube_size/scale_f} ${foot_thickness/scale_f}"/>
				</geometry>
			</visual>
		</link>
	</xacro:macro>

	<xacro:macro name="qb_legs" params="parent name *origin">
		<!-- macro for the robot -->

		<!-- pelvis link, attached to the external link -->
		<joint name="${name}_dummy_joint" type="fixed" >
			<insert_block name="origin" />
			<parent link="${parent}" />
			<child link="${name}_pelvis_link" />
		</joint>

		<link name="${name}_pelvis_link">
			<inertial>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<mass value="${pelvis_mass}"/>
				<inertia ixx="${pelvis_mass * (legs_width * legs_width + pelvis_thickness * pelvis_thickness) / 12.0 * mm2_to_m2}" ixy="0.0" ixz="0.0" iyy="${pelvis_mass * (cube_size * cube_size + pelvis_thickness * pelvis_thickness) / 12.0 * mm2_to_m2}" iyz="0.0" izz="${pelvis_mass * (cube_size * cube_size + legs_width * legs_width) / 12.0 * mm2_to_m2}"/>
			</inertial>
			<visual>
				<geometry>
					<box size="${cube_size/scale_f} ${legs_width/scale_f} ${pelvis_thickness/scale_f}"/>
				</geometry>
			</visual>
		</link>

		<!-- torso -->
		<xacro:qb_move parent="${name}_pelvis_link" name="${name}_7" position="0 0 ${(flat_shaft/2.0+cube_size/2.0)/scale_f}" orientation="${- pi / 2} 0 0"/>

		<xacro:rotating_c_shaft parent="${name}_7" name="${name}_upper_shaft" position="0 0 0" orientation="${-pi / 2} 0 0"/>

		<joint name="${name}_torso_joint" type="fixed">
			<origin position="0 0 ${-(150-c_flange))/scale_f}" orientation="0 0 0"/>
			<parent link="${name}_upper_shaft"/>
			<child link="${name}_torso_link"/>
		</joint>
		<link name="${name}_torso_link">
			<inertial>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<mass value="${torso_mass}"/>
				<inertia ixx="${torso_mass * (250 * 250 + 100 * 100) / 12.0 * mm2_to_m2}" ixy="0.0" ixz="0.0" iyy="${torso_mass * (350 * 350 + 100 * 100) / 12.0 * mm2_to_m2}" iyz="0.0" izz="${torso_mass * (350 * 350 + 250 * 250) / 12.0 * mm2_to_m2}"/>
			</inertial>
			<visual>
				<geometry>
					<box size="${350/scale_f} ${250/scale_f} ${100/scale_f}"/>
				</geometry>
			</visual>
		</link>

		<!-- left leg -->
		<xacro:qb_single_leg parent="${name}_pelvis_link" name="${name}" side="left" isLeft="1" high_joint="3" mid_joint="2" low_joint="1" position="0 ${(legs_width-cube_size)/scale_f/2.0} ${-(flat_shaft/2.0+cube_size/2.0)/scale_f}" orientation="${-pi/2} 0 0"/>

		<!-- right leg -->
		<xacro:qb_single_leg parent="${name}_pelvis_link" name="${name}" side="right" isLeft="-1" high_joint="4" mid_joint="5" low_joint="6" position="0 ${-(legs_width-cube_size)/scale_f/2.0} ${-(flat_shaft/2.0+cube_size/2.0)/scale_f}" orientation="${pi/2} 0 0"/>

	</xacro:macro>

</robot>
